@{
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Admin Dashboard";
}
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Expires" content="-1">
<meta http-equiv="Last-Modified" content="@DateTime.UtcNow.ToString("R")">

@* nội dung  *@
<h1>Admin Dashboard</h1>
<p>Chào mừng, @ViewBag.UserId</p>

